@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainWhiteTrans: #ffffff85;
  --mainBlack: #222;
  --mainBlackTrans: #22222293;
  --mainGrey: #d8d8d8;
  --mainGreyTrans: #d8d8d8a6;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: #b0bec5;
}
::-webkit-scrollbar-thumb {
  background-color: #455a64;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
  color: var(--mainWhite);
}
ul li {
  list-style: none;
  display: inline;
  margin: 0 15px;
  font-size: 16px;
  text-transform: uppercase;
}
header {
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.363)),
    url('../assets/hero.jpg');
  background-size: cover;
  background-position: center;
  color: var(--mainWhite);
}
.btn {
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--primaryColor);
  color: var(--mainBlack);
  font-weight: 600;
  border: 2px solid var(--primaryColor);
  border-radius: 4px;
  transition: var(--mainTransition);
  cursor: pointer;
  outline: none;
}
.btn:hover {
  background: transparent;
  color: var(--primaryColor);
}
.navbar {
  display: flex;
  height: 95px;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--mainWhite);
}
.logo {
  font-size: xx-large;
  font-weight: 700;
}
.logo img {
  width: 40px;
}
.menu {
  display: none;
}
.menu img {
  width: 45px;
}
.hero {
  height: calc(90vh - 95px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero h1 {
  color: var(--mainWhite);
  font-weight: 800;
  font-size: 50px;
  margin: 20px auto;
}
.search-block {
  max-width: 800px;
  background-color: var(--mainGreyTrans);
  padding: 10px;
}
form {
  position: relative;
  display: flex;
}
label {
  font-size: 0.9em;
  font-weight: 100;
  position: absolute;
  bottom: 0.8em;
  left: 1em;
  color: #000;
  transition: all 0.2s;
  pointer-events: none;
}
form input[type='text'] {
  width: 100%;
  font-size: 1.2em;
  padding: 0.5em 1em;
  margin-right: 8px;
  outline: none;
  border: none;
}
form input[type='text']:focus ~ label,
form input[type='text']:valid ~ label {
  bottom: 4em;
  left: 1.3em;
  font-weight: 600;
  font-size: 0.8em;
  color: var(--mainWhite);
}
form .btn {
  border-radius: 0px;
  padding: 6px 30px;
}

@media (max-width: 930px) {
  form {
    flex-direction: column;
  }
  label {
    bottom: 3.8em;
  }
  form input[type='text']:focus ~ label,
  form input[type='text']:valid ~ label {
    bottom: 7.4em;
  }
  form .btn {
    margin-top: 10px;
  }
  .hero h1 {
    font-size: 40px;
  }
  .nav-link {
    display: none;
  }
  .menu {
    margin-top: 12px;
    display: block;
  }
}
